*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100;
    height: 100%;
    background-color: #FBFBFB;
}

main{
    height: 100%;
    width: 100%;
}

#nav{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-content{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
#nav-content h1{
    font-size: 2vw;
    rotate: -5deg;
    letter-spacing: .2vw;
    font-family: 'blacksword';
    text-transform: capitalize;
}
#nav-content h2{
    font-size: 1.2vw;
    font-family: 'helvetica';
    text-transform: capitalize;
}
#nav-button{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Helvetica';
    font-size: .9vw;
    cursor: pointer;
}
#nav-button #log{
    width: 7vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #FBFBFB;
    border: .2vw solid black;
    border-radius: 25px;
}

#landing-content{
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 4vw 1vw 4vw;
    position: relative;
}
#landing-content #left{
    padding: 2vw;
    font-family: 'Helvetica';
    position: relative;
}
#landing-content #left h1{
    font-size: 4.2vw;
    line-height: 4vw;
}
#landing-content #left h3{
    margin-top: 2vw;
    font-weight: 500;
}
#landing-content #nav-services{
    width: 80%;
    height: 10%;
    font-size: 1vw;
    font-family: 'Helvetica';
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4vw;
    margin-top: 4vw;
    cursor: pointer;
}
#landing-content #nav-services i{
    margin-right: .3vw;
    font-size: 1.3vw;
}
.marked{
    background-color: rgb(36, 34, 34);
    color: white;
    width: 8vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-weight: 400;
}
#landing-content #left #search-bar{
    /* background-color: #FAEBF9; */
    margin-top: 1vw;
    width: 80%;
    height: 10%;
    border-radius: 25px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#landing-content #left #search-bar #text-box{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 25px;
    font-size: 1vw;
    background-color: rgb(223, 217, 217);
    padding: 2vw;
}

#landing-content #left #search-bar i{
    position: absolute;
    border-radius: 50%;
    background-color: #EC5E95;
    width: 3vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2vw;
    margin-right: .5vw;
    cursor: pointer;
}
#landing-content #left #down-search-bar{
    width: 100%;
    height: 10%;
    margin-top: 1vw;
    font-family: 'Helvetica';
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
}
#landing-content #left #down-search-bar h6{
    border: .2vw solid #E7E7E9;
    border-radius: 25px;
    font-weight: 400;
    cursor: pointer;
    width: 15%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing-content #right{
    padding: 2vw;
    width: 100%;
    height: 100%;
}
#landing-content #right #vids{
    width: 100%;
    height: 100%;
}
#landing-content #right #vids video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

#discover-list{
    width: 100%;
    height: 400%;
    padding: 0 2vw;
    position: relative;
}
#discover-list #discover-nav{
    width: 100%;
    height: 5%;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#discover-list #discover-nav #drag{
    font-family: 'Helvetica';
    border-radius: 10%;
    width: 8.5vw;
    height: 6.2vh;
    border: .001vw solid rgb(235, 227, 227);
    display: flex;
    align-items: center;
    justify-content: center;
}
#discover-list #discover-nav #drag h2{
    font-family: 300;
    font-size: 1vw;
    font-weight: 600;
}
#discover-list #discover-nav #drag i{
    margin-left: 1vw;
}
#discover-list #discover-nav #drag-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    font-family: 'Helvetica';
    font-size: 1vw;
}
#discover-list #discover-nav #drag-center h4:nth-child(1){
    width: 7vw;
    height: 6.2vh;
    border-radius: 25px;
    background-color: #F5F3F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#discover-list #discover-nav #drag-end{
    width: 7vw;
    height: 6.2vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 25px;
    border: .001vw solid rgb(235, 227, 227);
    display: flex;
    align-items: center;
    justify-content: center;
}
#discover-list #discover-nav #drag-end h4{
    font-size: 1vw;
}
#discover-list #discover-nav #drag-end i{
    margin-right: .5vw;
}

.box{
    width: 20vw;
    height: 30vh;
    display: inline-block;
    margin: 1vw;
    margin-top: 2vw;
    margin-left: 2.2vw;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.box video{
    border-radius: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lastbutton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-button{
    background-color: rgb(13, 12, 34);
    color: white;
    font-family: 'Helvetica';
    font-size: 1.1vw;
    width: 12vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    border-radius: 25px;
}

#footer{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    padding: 0 7vw;
    margin-top: 2vw;
}
#footer h2{
    font-family: 'blacksword';
    font-size: 2vw;
    letter-spacing: .2vw;
    rotate: -5deg;
}

#footer-center{
    display: flex;
    gap: 3vw;
}
#footer-center h3{
    font-family: 'helvetica';
    font-size: 1vw;
    font-weight: 550;
}

#footer-icons i{
    font-size: 1.6vw;
    margin-right: 1vw;
}


/* RESPONSIVENESS */

/* -------- FINAL NAV REFINEMENT -------- */
@media (max-width: 1024px) {
    #nav {
        height: 10vh;
        /* slimmer navbar */
        padding: 0 5vw;
    }

    /* Increase spacing between left items */
    #nav-content {
        width: 60%;
        justify-content: flex-start;
        gap: 3vw;
        /* more breathing space */
    }

    /* Smaller logo */
    #nav-content h1 {
        font-size: 1.4vw;
        letter-spacing: 0.1vw;
        margin-right: 2vw;
    }

    /* Smaller menu items */
    #nav-content h2 {
        font-size: 0.85vw;
        font-weight: 500;
    }

    /* Right side spacing */
    #nav-button {
        width: 18%;
        justify-content: flex-end;
        gap: 2vw;
        /* spacing between Sign up & Login */
        font-size: 0.75vw;
    }

    /* Smaller login button */
    #nav-button #log {
        width: 5.5vw;
        height: 5vh;
        font-size: 0.7vw;
        border-radius: 20px;
    }
}

@media (max-width: 1024px) {

    #nav {
        height: 9vh;
    }

    #nav-content {
        gap: 2.5vw;
    }

    #nav-content h1 {
        font-size: 2.2vw;
    }

    #nav-content h2 {
        font-size: 1.2vw;
    }

    #nav-button {
        gap: 2vw;
        font-size: 1.1vw;
    }

    #nav-button #log {
        width: 7vw;
        height: 4.5vh;
        font-size: 1vw;
    }
}

@media (max-width: 768px) {

    #nav {
        padding: 3vw 4vw;
    }

    #nav-content {
        gap: 4vw;
    }

    #nav-content h1 {
        font-size: 4vw;
    }

    #nav-content h2 {
        font-size: 1.8vw;
    }

    #nav-button {
        width: fit-content;
        height: 3vh;
        gap: 1.5vw;
        font-size: 2vw;
    }

    #nav-button #log {
        width: 12vw;
        height: 3vh;
        font-size: 1.8vw;
    }
}

/* -------- LANDING RESPONSIVENESS -------- */

@media (max-width: 768px) {

    #landing-content {
        grid-template-columns: 1fr;
    }

    /* Text first */
    #landing-content #left {
        order: 1;
    }

    /* Video goes below */
    #landing-content #right {
        order: 2;
        height: 42vh;
        margin-top: 6vw;
    }

    #landing-content #right #vids video {
        border-radius: 18px;
    }
}

@media (max-width: 768px) {

    #landing-content {
        grid-template-columns: 1fr;
        padding: 5vw;
    }

    #landing-content #left {
        order: 1;
    }

    #landing-content #left {
        display: flex;
        flex-direction: column;
        gap: 2.5vw;
        /* main vertical rhythm */
    }

    #landing-content #nav-services {
        gap: 3vw;
        margin-top: 1vw;
    }

    #landing-content #left #search-bar {
        margin-top: 1vw;
    }

    #landing-content #left #down-search-bar {
        margin-top: 1.5vw;
        gap: 2vw;
    }


    #landing-content #right {
        order: 2;
        margin-top: 5vw;
        height: 38vh;
    }
}

@media (max-width: 768px) {

    #landing-content #left {
        gap: 4vw;
    }

    #landing-content #nav-services {
        gap: 4vw;
    }

    #landing-content #left #down-search-bar {
        gap: 3vw;
    }

    #landing-content #left #search-bar {
        width: 100%;
        height: 6vh;
    }

    #landing-content #left #search-bar #text-box {
        font-size: 3vw;
        padding: 3vw 5vw;
        border-radius: 25px;
        background-color: #F2F2F2;
        /* softer */
    }

    #landing-content #left #search-bar i {
        width: 9vw;
        height: 4.8vh;
        font-size: 3.5vw;
        right: 1vw;
    }

    #discover-list #discover-nav #drag {
        border: 1px solid #EAEAEA;
    }

    #discover-list #discover-nav #drag-end {
        border: 1px solid #EAEAEA;
    }

    /* -------- RESPONSIVE BOX ELEMENTS -------- */
    #discover-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw;
    }

    #discover-list #discover-nav #drag {
        height: 4vw;
        border-radius: 45px;
    }

    #discover-list #discover-nav #drag-end {
        height: 4vw;
        border-radius: 45px;
    }

    #discover-list #discover-nav #drag-center h4:nth-child(1) {
        height: 4vw;
    }

    .box {
        width: 40vw;
        height: 20vh;
        display: inline-block;
    }

    .signup-button {
        width: fit-content;
        padding: 2vw;
        height: 30px;
        font-size: 0.5rem;
    }

    #landing-content #left #down-search-bar h6{
        font-size: 1.5vw;
        margin-top: .5vh;
    }

    .marked{
        height: 3vh;
    }
}

